body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: purple;
  padding: 2px;
  color: white;
  font-size: 2em;
}

header > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#list-view {
  float: left;
}

#calender-view {
  float: right;
  margin-top: 40px;
}

#calender {
  max-height: 720px;
}

#calender-view > div {
  display: flex;
  align-items:center;
}



.event {
  border: 1px solid;
  border-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 400px;
  height: 20px;
  background: #D1F7FF;
  border-radius: 30px;
  justify-content: space-between;
  margin-top: 10px;
}

input {
  height: 30px;
  width: 80%;
  padding: 0px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background: #D1F7FF;
}

input:focus {
  outline: none;
}

.event > p {
  display: inline;
  margin-left: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.event > input {
  margin-left: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;

}

.deleteBox, .checkCircle {
  opacity: 0.2;
}

.addList {
  opacity: 0.6;
}
.deleteBox:hover, .addList:hover, .checkCircle:hover {
  opacity: 0.8;
}

.checkCircle {
  opacity: 0.5;
}

.crossed {
  text-decoration: line-through;
}

#timeInput {
  font-size: 15px;
  width: 150px;
  margin: 0;
}

.event > .timePTag {
  font-size: 18px;
  margin: auto;
}

.listHeader {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 25px;
}

/* The add task pop up (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.addTaskContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}